title = "User Dashboard Page"
url = "user/dashboard"
layout = "default"

[spleProducts]
[session]
security = "user"
redirect = "/"
==

<section class="main-banner">
    <div class="container">
        <div class="banner-content text-center">
            <h2>Dashboard</h2>
            <h6>Lorem Ipsum Dolor Sit Amet</h6>
        </div>
    </div>
</section>

<section class="contact ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="ptb-10 bg-gray">
                    <h6 class="text-center ls-1 text-uppercase heading-thin">Pilih Fitur</h6>
                </div>
                {% for group,products in spleProducts.products %}
                <h4 class="ptb-10">{{ group }}</h4>
                    <div class="list-group">
                        {% for product in products %}
                        <button type="button" class="list-group-item feature"
                            data-toggle="tooltip" data-placement="top"
                            title="{{ product.description }}" id="{{ product.name }}">
                            {{ product.display_name}}
                        </button>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="ptb-10 bg-gray">
                    <h6 class="text-center ls-1 text-uppercase heading-thin">Buat Website Baru</h6>
                </div>
                <form method="POST">
                    <div class="form-group">
                        <label for="site-title">Nama Website:</label>
                        <input class="form-control" type="text" name="site-title" placeholder="Tulis nama website yang akan dibuat" />
                    </div>
                    <div class="form-group">
                        <label for="site-description">Deskripsi Website:</label>
                        <input class="form-control" type="text" name="site-description" placeholder="Tulis deskripsi website kamu" />
                    </div>
                    <div class="form-group">
                        <label for="site-url">URL Website:</label>
                        <div class="input-group">
                            <input class="form-control" type="text" name="site-url" placeholder="mysite-xyz" />
                            <div class="input-group-addon">.aiscoweb.org</div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg" type="submit" data-toggle="modal" data-target="#confirmationModal">Proses</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td width="150px">Website Name</td>
                            <td>:</td>
                            <td id="modal_websiteName"></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td id="modal_websiteDescription"></td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>:</td>
                            <td id="modal_websiteURL"></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <p>Features:</p>
                                <ul id="modal_websiteFeatures">
            
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_confirm">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% put scripts %}
<script type="text/javascript">
$(document).ready(function() {
    var features = [];
    $('button.feature').on('click', function() {
        var featureName = $(this).attr('id');
        if(!$(this).hasClass('selected')) {
            $(this).css('background-color','#00cc66');
            $(this).css('color','#fff');
            $(this).addClass('selected');
            features.push(featureName);
        } else {
            $(this).css('background-color','#fff');
            $(this).css('color', '#555');
            $(this).removeClass('selected');
            if((index = features.indexOf(featureName)) > -1) {
                features.splice(index, 1);
            }
        }
    });

    $('button[type="submit"]').on('click', function(e) {
        e.preventDefault();
        var name = $('input[name="site-title"]').val();
        var description = $('input[name="site-description"]').val();
        var url = $('input[name="site-url"]').val();

        $('#modal_websiteName').text(name);
        $('#modal_websiteDescription').text(description);
        $('#modal_websiteURL').text(url+".aiscoweb.org");
        $('ul#modal_websiteFeatures').empty();
        $('button.list-group-item.feature.selected').each(function() {
            $('ul#modal_websiteFeatures').append("<li>"+$(this).text().trim()+"</li>");
        });

    });

    $('#button_confirm').on('click', function() {
        var name = $('input[name="site-title"]').val();
        var description = $('input[name="site-description"]').val();
        var url = $('input[name="site-url"]').val();
        var features = [];

        $('button.list-group-item.feature.selected').each(function() {
            features.push($(this).attr('id'));
        });

        $('#confirmationModal').modal('hide');
    });
});
</script>
{% endput %}