<section class="counter gradient-bg ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item text-center">
                    <div class="conter-icon put-center">
                        <span class="ti-user"></span>
                    </div>
                    <h3>
                        <span class="count">554</span>
                    </h3>
                    <h6>Happy Customers</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item text-center">
                    <div class="conter-icon put-center">
                        <span class="ti-time"></span>
                    </div>
                    <h3>
                        <span class="count">2580</span>
                    </h3>
                    <h6>Working Hours</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item text-center">
                    <div class="conter-icon put-center">
                        <span class="ti-cup"></span>
                    </div>
                    <h3>
                        <span class="count">580</span>
                    </h3>
                    <h6>Cups of Coffee</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="counter-item text-center">
                    <div class="conter-icon put-center">
                        <span class="ti-desktop"></span>
                    </div>
                    <h3>
                        <span class="count">1586</span>
                    </h3>
                    <h6>Lines of Code</h6>
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->