<section class="counter gradient-bg ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counter-item text-center">
                    <div class="conter-icon put-center">
                        <span class="ti-user"></span>
                    </div>
                    <h3>
                        <span class="count">554</span>
                    </h3>
                    <h6>User Registered</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counter-item text-center">
                    <div class="conter-icon put-center">
                        <span class="ti-world"></span>
                    </div>
                    <h3>
                        <span class="count">2580</span>
                    </h3>
                    <h6>Site Built</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counter-item text-center">
                    <div class="conter-icon put-center">
                        <span class="ti-layout-grid3"></span>
                    </div>
                    <h3>
                        <span class="count">580</span>
                    </h3>
                    <h6>Features Generated</h6>
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->