<section class="features light-bg ptb-80">
    <div class="container">
        <div class="features-title">
            <h3 class="heading-thin">Explore our available features</h3>
            <h6>We analysed the features for charity organizations based on several existing organizations</h6>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="features-icon features-icon-solid features-icon-rounded">
                        <span class="ti-timer"></span>
                    </div>
                    {% content "features_complete/feature_1.htm" %}
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="features-icon features-icon-solid features-icon-rounded">
                        <span class="ti-reload"></span>
                    </div>
                    {% content "features_complete/feature_2.htm" %}
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="features-icon features-icon-solid features-icon-rounded">
                        <span class="ti-calendar"></span>
                    </div>
                    {% content "features_complete/feature_3.htm" %}
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="features-icon features-icon-solid features-icon-rounded">
                        <span class="ti-comment-alt"></span>
                    </div>
                    {% content "features_complete/feature_4.htm" %}
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="features-icon features-icon-solid features-icon-rounded">
                        <span class="ti-blackboard"></span>
                    </div>
                    {% content "features_complete/feature_5.htm" %}
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="features-icon features-icon-solid features-icon-rounded">
                        <span class="ti-agenda"></span>
                    </div>
                    {% content "features_complete/feature_6.htm" %}
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->
