<section class="features ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-content">
                    {% content "features_main/feature_1.htm"%}
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-image scrollme">
                    <img src="{{ 'assets/images/feature-1.png'|theme }}" alt="image" class="img-responsive animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="300">
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->

<section class="features ptb-80 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="features-content">
                    {% content "features_main/feature_2.htm" %}
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="features-image scrollme">
                    <img src="{{ 'assets/images/feature-2.png'|theme }}" alt="image" class="img-responsive animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="-300">
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->

<section class="features ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-content">
                    {% content "features_main/feature_3.htm" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-image scrollme">
                    <img src="{{ 'assets/images/feature-3.png'|theme }}" alt="image" class="img-responsive animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="300">
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->