<section class="features light-bg ptb-80">
    <div class="container">
        <div class="features-title">
            <h3 class="heading-thin">Kenali Setiap Fitur Yang Kami Sediakan</h3>
            <h6>Curabitur lacus mi, interdum at tempor ut, porta vel nulla.</h6>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="feature-image">
                        <img src="{{ 'assets/images/ico1.png'|theme }}" alt="image">
                    </div>
                    <h4>Penggalangan Dana</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed nibh in leo pellentesque tincidunt.</p>
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="feature-image">
                        <img src="{{ 'assets/images/ico2.png'|theme }}" alt="image">
                    </div>
                    <h4>Laporan Penggalangan Dana</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed nibh in leo pellentesque tincidunt.</p>
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="feature-image">
                        <img src="{{ 'assets/images/ico3.png'|theme }}" alt="image"> 
                    </div>
                    <h4>Manajemen Sponsor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed nibh in leo pellentesque tincidunt.</p>
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="feature-image">
                        <img src="{{ 'assets/images/ico4.png'|theme }}" alt="image"> 
                    </div>
                    <h4>Notifikasi Email</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed nibh in leo pellentesque tincidunt.</p>
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="feature-image">
                        <img src="{{ 'assets/images/ico5.png'|theme }}" alt="image"> 
                    </div>
                    <h4>Story Board</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed nibh in leo pellentesque tincidunt.</p>
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="features-item-one">
                    <div class="feature-image">
                        <img src="{{ 'assets/images/ico6.png'|theme }}" alt="image"> 
                    </div>
                    <h4>Manajemen Kegiatan</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed nibh in leo pellentesque tincidunt.</p>
                    <a href="#" class="btn btn-readmore">Read More</a>
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->
