<section class="features ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-content">
                    <h4 class="mb-30">Tentukan Jenis Program Charity Kamu</h4>
                    <h5 class="heading-thin mb-10 text-uppercase">Lembaga Kemanusiaan</h5>
                    <p class="mb-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id nisl feugiat, ullamcorper enim non, tempus justo. Ut a rhoncus nisi, non dapibus eros. Sed tristique non lorem quis sollicitudin.</p>
                    <h5 class="heading-thin mb-10 text-uppercase">Pendidikan Anak Usia Dini</h5>
                    <p>Curabitur quis felis vulputate, tincidunt diam in, molestie augue. Sed convallis ipsum a nisi ornare laoreet. Suspendisse sed faucibus nisi. Donec vel mauris accumsan, vulputate turpis quis, interdum ligula.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-image scrollme">
                    <img src="{{ 'assets/images/feature-1.png'|theme }}" alt="image" class="img-responsive animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="300">
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->

<section class="features ptb-80 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="features-content">
                    <h4 class="mb-30">Kustomisasi Fitur Sesuai Kebutuhan</h4>
                    <h5 class="heading-thin mb-10 text-uppercase">Tidak Menemukan Jenis Charity Yang Kamu Inginkan?</h5>
                    <p class="mb-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id nisl feugiat, ullamcorper enim non, tempus justo. Ut a rhoncus nisi, non dapibus eros. Sed tristique non lorem quis sollicitudin.</p>
                    <h5 class="heading-thin mb-10 text-uppercase">Tentukan Sendiri Fitur-Fitur Yang Kamu Inginkan</h5>
                    <p> Curabitur quis felis vulputate, tincidunt diam in, molestie augue. Sed convallis ipsum a nisi ornare laoreet. Suspendisse sed faucibus nisi. Donec vel mauris accumsan, vulputate turpis quis, interdum ligula.</p>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="features-image scrollme">
                    <img src="{{ 'assets/images/feature-2.png'|theme }}" alt="image" class="img-responsive animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="-300">
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->

<section class="features ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-content">
                    <h4 class="mb-30">Simpan dan Publish Website Yang Kamu Buat</h4>
                    <h5 class="heading-thin mb-10 text-uppercase">Simpan dan Serahkan Seluruhnya Pada Sistem</h5>
                    <p class="mb-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id nisl feugiat, ullamcorper enim non, tempus justo. Ut a rhoncus nisi, non dapibus eros. Sed tristique non lorem quis sollicitudin.</p>
                    <h5 class="heading-thin mb-10 text-uppercase">1, 2, 3 dan Voila! Keigninanmu Telah Terwujud!</h5>
                    <p> Curabitur quis felis vulputate, tincidunt diam in, molestie augue. Sed convallis ipsum a nisi ornare laoreet. Suspendisse sed faucibus nisi. Donec vel mauris accumsan, vulputate turpis quis, interdum ligula.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-image scrollme">
                    <img src="{{ 'assets/images/feature-3.png'|theme }}" alt="image" class="img-responsive animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="300">
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</section><!-- End Section -->