<header>
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <div class="container"> 
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="side-menu"><a href="#"><i class="ti-menu"></i></a></li>
                </ul>
            </div>        
            <!-- End Atribute Navigation -->
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="ti-menu"></i>
                </button>
                <a class="navbar-brand" href="#brand">
                    <img src="{{ 'assets/images/logo-light.png'|theme }}" class="logo logo-display" alt="">
                    <img src="{{ 'assets/images/logo-dark.png'|theme }}" class="logo logo-scrolled" alt="">
                </a>

            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="/">Beranda</a></li>
                    <li><a href="technologies">Teknologi</a></li>
                    <li><a href="testimonials">Testimoni</a></li>
                    <li><a href="researches">Penelitian</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="contact-us">Contact Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header><!-- End Header -->